<div class="row">
	<img class="background_battle" src="../../assets/images/shared/background_battle.png" />
	<img class="superpose" id="pokemonA" [src]="gameService.pokemonA?.backSpriteUrl" alt="Pokemon A">
	<app-health-bar id="health-bar-A" [health]="gameService.pokemonA?.health" [maxHealth]="gameService.pokemonA?.maxHealth"></app-health-bar>
	<img class="superpose" id="pokemonB" [src]="gameService.pokemonB?.frontSpriteUrl" alt="Pokemon B">
	<app-health-bar id="health-bar-B" [health]="gameService.pokemonB?.health" [maxHealth]="gameService.pokemonB?.maxHealth"></app-health-bar>
</div>
<div class="row-log">
	<log id="log"></log>
</div>
<br/>
<div class="row">
	<img id="action_button" (click)="onClick()" [src]="actionBtnSrc">
</div>
