#pokemonA {
	left: 35%;
	top: 55%;
}

#pokemonB {
	top: 20%;
	right: 35%;
}

#health-bar-A {
	position: absolute;
	left: 37%;
	top: 55%;
}

#health-bar-B {
	position: absolute;
	top: 20%;
	right: 37%;
}

.row {
	position: relative;
	width: 100%;
	text-align: center;
}

.row-log {
	width: 100%;
	height: 25%;
	text-align: center;
}

.superpose {
	position: absolute;
	width:10%;
}

#action_button {
	width: 18%;
	cursor: pointer;
}

.background_battle {
	width: 40%;
	border: 2px solid white;
	margin-top: 1%;
}

#startStop {
	width: 50%;
	height: 40px;
	border: none;
	color: white;
	background-color: orangered;
	font-size: 30px;
	font-family: fantasy;
}

.death-head {
	position: absolute;
	width: 100px;
	height: 100px;
}

#death-head-A {
	left: 38%;
	top: 61%;
}

#death-head-B {
	top: 26%;
	right: 38%;
}