.pokemonA {
	left: 35%;
	top: 55%;
}

.pokemonA-animate {
	left: 35%;
	top: 55%;
	transform: translate(60%) rotate(-20deg);
}

.pokemonB {
	top: 20%;
	right: 35%;
}

.pokemonB-animate {
	top: 20%;
	right: 35%;
	transform: translate(-60%) rotate(20deg);
}

#health-bar-A {
	width: 20%;
	position: absolute;
	left: 34%;
	top: 53%;
}

#health-bar-B {
	width: 20%;
	position: absolute;
	top: 18%;
	right: 26%;
}

.row {
	position: relative;
	width: 100%;
	text-align: center;
}

.row-log {
	width: 100%;
	height: 25%;
	text-align: center;
}

#superpose {
	position: absolute;
	width:10%;
}

#action_button {
	width: 18%;
	cursor: pointer;
}

#replay_button {
	width: 8%;
	cursor: pointer;
}

.background_battle {
	width: 40%;
	border: 2px solid white;
	margin-top: 1%;
}

#startStop {
	width: 50%;
	height: 40px;
	border: none;
	color: white;
	background-color: orangered;
	font-size: 30px;
	font-family: fantasy;
}

.death-head {
	position: absolute;
	width: 5%;
}

#death-head-A {
	left: 38%;
	top: 64%;
}

#death-head-B {
	top: 30%;
	right: 38%;
}