#pokemonA {
	width: 300px;
	margin-left: 22%;
}

#vs {
	width: 100px;
	margin-left: 10%;
}

#pokemonB {
	width: 300px;
	margin-left: 10%;
}

#startStop {
	width: 50%;
	height: 40px;
	margin-top: 25px;
	margin-left: 25%;
	margin-right: 25%;
	border: none;
	color: white;
	background-color: orangered;
	font-size: 30px;
	font-family: fantasy;
}