#row {
	text-align: center;
}

#labelSelection {
	color: white;
	font-size: 50px;
	font-family: fantasy;
	padding: 0px;
}

.battle {
	margin-top: 50px;
	cursor: pointer;
	height: 10%;
	width: 10%;
}

.pokemon {
	width: 100px;
	height: 100px;
	border: 7px;
	border-style: solid;
	border-color: yellow;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 20px;
}

.pokemon:hover {
	border-color: red;
	cursor: pointer;
}

.pokemonSelected {
	border-color: green;
	background-color: rgba(0, 255, 0, 0.4);
}