<!--<textarea id="logBox" readonly>{{logService.log}}</textarea>-->
<div id="logBox">
	<div>{{date | dateToString }}</div><br>
	<div *ngFor="let log of logService.log">
		<label *ngIf="log.end == false">
			<span [style.color]="log.attackerColor">{{log.attackerName}}</span> utilise l'attaque {{log.attack | codeToString }}<br>
			<span [style.color]="log.targetColor">{{log.targetName}}</span> perd {{log.damages}} ({{log.targetHealth}} PV restants)
		</label>
		<label *ngIf="log.end == true">
			<span style="color: red;">{{log.targetName}}</span> n'a plus de PV<br>
			<span [style.color]="log.attackerColor">{{log.attackerName}}</span> remporte le combat
		</label><br><br>
	</div>
</div>