#logBox {
	text-align: left;
	width: 30%;
	height: 100%;
	background-color: white;
	resize : none;
	overflow: auto;
	position: relative;
	left: 35%;
	right: 35%;
	border-radius: 2px;
	padding-left: 1%;
	padding-top: 1%;
}